<ion-content>
  <div id="container" class="ion-text-center">
    <img src="assets/images/oink-logo.svg" />
    <h2 class="color-green-light font-monserrat-bold">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</h2>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="block" class="bg-green-light color-green-dark font-monserrat-bold" (click)="goToRegister()">
    REGÍSTRATE
  </ion-button>

  <ion-button expand="block" class="bg-green-dark color-white font-monserrat-bold">
    INGRESA
  </ion-button>
</ion-footer>
